* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

/* NEED TO CHANGE TO MAKE EASING OUT FIRST, AND THEN ZOOMING IN */


#logo {
    animation: fill 0.5s ease forwards 7.0s, zoom 6.0s ease-in, blackedOut 4.0s ease-in;
    animation-delay: 4.0s;
}

#log1{
  position: relative;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

#logo path:nth-child(1) {
    stroke-dasharray: 162.4;
    stroke-dashoffset: 162.4;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 240.7;
    stroke-dashoffset: 240.7;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 259.2;
    stroke-dashoffset: 259.2;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 256.3;
    stroke-dashoffset: 256.3;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 294.5;
    stroke-dashoffset: 294.5;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 240.7;
    stroke-dashoffset: 240.7;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 264.8;
    stroke-dashoffset: 264.8;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 294.5;
    stroke-dashoffset: 294.5;
    animation: line-anim 2s ease forwards 2.1s;
}


@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1.0, 1.0);
    }50% {
        transform: scale(3.0, 3.0);
    }
    100% {
        transform: scale(40.0, 40.0);
    }
}

@keyframes blackedOut {
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}